@import-normalize; /* bring in normalize.css styles */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  background-color: #f8f8f8;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: none;
}

button,
input {
  background-color: inherit;
}

button {
  cursor: pointer;
}

.no-scroll {
  overflow: hidden;
}

.dataInput:focus + .dataLabel,
.dataInput:not(:placeholder-shown) + .dataLabel {
  text-align: center;
  width: 60px;
  background-color: #f8f8f8;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;

  color: #7e7e7e;
  transform: translateY(-35px);
  outline: none;
}

.datainput:invalid:not(:placeholder-shown) {
  border: 2px solid #cb3d40;
}

.datainput:invalid:not(:placeholder-shown) + .dataLabel {
  color: #cb3d40;
}

input[type='file' i] {
  color: red;
}

.real-radio:checked + .custom-radio::before {
  display: block;
}

.real-radio:checked + .custom-radio {
  border: 1px solid #00bdd3;
}

.disabled-button:disabled {
  background: #b4b4b4;
  color: rgba(255, 255, 255, 0.87);
}
